
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg6.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Widgets</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container pt-0">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="heading-line-bottom text-center mb-60">
              <h3>In White Layout</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="widget">
              <h5 class="widget-title line-bottom">Search box</h5>
              <div class="search-form">
                <form>
                  <div class="input-group">
                    <input type="text" placeholder="Click to Search" class="form-control search-input">
                    <span class="input-group-btn">
                    <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Categories</h5>
              <div class="categories">
                <ul class="list angle-double-right list-border">
                  <li><a href="#">Creative<span>(19)</span></a></li>
                  <li><a href="#">Portfolio<span>(21)</span></a></li>
                  <li><a href="#">Fitness<span>(15)</span></a></li>
                  <li><a href="#">Gym<span>(35)</span></a></li>
                  <li><a href="#">Personal<span>(16)</span></a></li>
                </ul>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Simple Text</h5>
              <div class="text-widget">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt distinctio soluta corporis, omnis odit libero ad laborum illum, nam, accusamus nihil cumque magnam voluptatibus eos odio ratione mollitia.</p>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Latest News</h5>
              <div class="latest-posts">
                <article class="post media-post clearfix pb-0 mb-10">
                  <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>
                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                  </div>
                </article>
                <article class="post media-post clearfix pb-0 mb-10">
                  <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0 mb-5"><a href="#">Industrial Coatings</a></h5>
                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                  </div>
                </article>
                <article class="post media-post clearfix pb-0 mb-10">
                  <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0 mb-5"><a href="#">Storefront Installations</a></h5>
                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                  </div>
                </article>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Product Items</h5>
              <div class="product-list">
                <div class="media"> 
                  <a class="media-left pull-left flip" href="#">
                    <img class="media-object" width="60" src="http://placehold.it/70x80" alt="">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading product-title mb-0"><a href="#">Blue Solid Casual Shirt</a></h5>
                    <div class="star-rating mt-5 mb-5 ml-0" title="Rated 4.50 out of 5">
                      <span style="width: 90%;">4.50</span>
                    </div>
                    <span class="price">$37.00</span>
                  </div>
                </div>
                <div class="media"> 
                  <a class="media-left pull-left flip" href="#">
                    <img class="media-object" width="60" src="http://placehold.it/70x80" alt="">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading product-title mb-0"><a href="#">Blue Solid Casual Shirt</a></h5>
                    <div class="star-rating mt-5 mb-5 ml-0" title="Rated 4.50 out of 5">
                      <span style="width: 90%;">4.50</span>
                    </div>
                    <span class="price">$37.00</span>
                  </div>
                </div>
                <div class="media"> 
                  <a class="media-left pull-left flip" href="#">
                    <img width="60" src="http://placehold.it/70x80" alt="">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading product-title mb-0"><a href="#">Blue Solid Casual Shirt</a></h5>
                    <div class="star-rating mt-5 mb-5 ml-0" title="Rated 4.50 out of 5">
                      <span style="width: 75%;">4.50</span>
                    </div>
                    <span class="price">$37.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Tab Widget</h5>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1" aria-expanded="true">Quality</a></li>
                <li class=""><a data-toggle="tab" href="#tab2" aria-expanded="false">Strategies</a></li>
                <li class=""><a data-toggle="tab" href="#tab3" aria-expanded="false">Counsel</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab-pane fade active in">
                  <img alt="" src="http://placehold.it/60x60" class="img-circle pull-left m-0 mr-10">
                  <p>Quality ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                </div>
                <div id="tab2" class="tab-pane fade">
                  <img alt="" src="http://placehold.it/60x60" class="img-circle pull-left m-0 mr-10">
                  <p>Strategies ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                </div>
                <div id="tab3" class="tab-pane fade">
                  <img alt="" src="http://placehold.it/60x60" class="img-circle pull-left m-0 mr-10">
                  <p>Counsel ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                </div>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Archive</h5>
              <div class="categories">
                <ul class="list angle-right list-border">
                  <li><a href="#">January 2015<span>(19)</span></a></li>
                  <li><a href="#">March 2015<span>(21)</span></a></li>
                  <li><a href="#">April 2015<span>(15)</span></a></li>
                  <li><a href="#">June 2015<span>(35)</span></a></li>
                  <li><a href="#">July 2015<span>(16)</span></a></li>
                </ul>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Tags</h5>
              <div class="tags">
                <a href="#">travel</a>
                <a href="#">blog</a>
                <a href="#">lifestyle</a>
                <a href="#">feature</a>
                <a href="#">mountain</a>
                <a href="#">design</a>
                <a href="#">restaurant</a>
                <a href="#">journey</a>
                <a href="#">classic</a>
                <a href="#">sunset</a>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Opening Hours</h5>
              <div class="opening-hours">
                <ul>
                  <li class="clearfix"> <span> Friday - Saturday :  </span>
                    <div class="value pull-right"> 10.00 am - 6.00 pm </div>
                  </li>
                  <li class="clearfix"> <span> Monday - Thusday :</span>
                    <div class="value pull-right"> 8.00 am - 9.00 pm </div>
                  </li>
                  <li class="clearfix"> <span> Sunday : </span>
                    <div class="value pull-right"> Colosed </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget no-border m-0">
              <h5 class="widget-title line-bottom">Contact Widget</h5>
              <ul class="list-inline mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored"></i> <a class="text-gray" href="#">123-456-789</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget">
              <h5 class="widget-title line-bottom">Image gallery</h5>
              <div class="owl-carousel-1col" data-dots="true">
                <div class="item"><img src="https://placehold.it/365x230" alt=""></div>
                <div class="item"><img src="https://placehold.it/365x230" alt=""></div>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Image gallery with text</h5>
              <div class="owl-carousel-1col" data-dots="true">
                <div class="item">
                  <img src="https://placehold.it/365x230" alt="">
                  <h4 class="title text-white">This is a Demo Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                </div>
                <div class="item">
                  <img src="https://placehold.it/365x230" alt="">
                  <h4 class="title text-white">This is a Demo Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                </div>
                <div class="item">
                  <img src="https://placehold.it/365x230" alt="">
                  <h4 class="title text-white">This is a Demo Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                </div>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Video gallery</h5>
              <div class="owl-carousel-1col">
                <div class="item">
                  <iframe src="//player.vimeo.com/video/114959015?title=0&amp;byline=0&amp;portrait=0" width="360" height="205" allowfullscreen>
                  </iframe>
                </div>
                <div class="item">
                  <iframe width="600" height="340"
                  src="http://www.youtube.com/embed/oIDqz2BrVec?autoplay=0" allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Youtube Video</h5>
              <iframe width="600" height="340"
              src="http://www.youtube.com/embed/oIDqz2BrVec?autoplay=0" allowfullscreen>
              </iframe>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Vimeo Video</h5>
              <iframe src="//player.vimeo.com/video/114959015?title=0&amp;byline=0&amp;portrait=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Instagram Feed</h5>
              <div id="instafeed1" class="instagram-feed clearfix" data-userid="3450544574" data-accesstoken="3450544574.1677ed0.7d0725a565914415b40a4953c17bcdc9" data-limit="6" data-resolution="low_resolution"></div>
            </div>            
            <div class="widget">
              <h5 class="widget-title line-bottom">instagram Feed Carousel</h5>
              <div id="instafeed2" class="instagram-feed-carousel clearfix" data-userid="3450544574" data-accesstoken="3450544574.1677ed0.7d0725a565914415b40a4953c17bcdc9" data-limit="6" data-resolution="low_resolution"></div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Testimonials</h5>
              <div class="owl-carousel-1col testimonial-carousel">
                <div class="item">
                  <img class="pull-right flip" src="https://placehold.it/75x75" alt="">
                  <blockquote class="pt-0 pb-10 pl-10 mt-0">
                    <p class="font-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
                <div class="item">
                  <img class="pull-right flip" src="https://placehold.it/75x75" alt="">
                  <blockquote class="pt-0 pb-10 pl-10 mt-0">
                    <p class="font-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget">
              <h5 class="widget-title line-bottom">Subscribe</h5>
              <div class="widget-subscribe">
                <h5 class="subscribe-title">Unlimited Support &amp; Easily Customizable</h5>
                <p class="subscribe-sub-title">Subscribe to Connect with us</p>
                <form id="mailchimp-subscription-form1" class="newsletter-form mt-20">
                  <div class="input-group">
                    <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg" data-height="45px" id="mce-EMAIL" style="height: 45px;">
                    <span class="input-group-btn">
                      <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0" type="submit">Subscribe</button>
                    </span>
                  </div>
                </form>

                <!-- Mailchimp Subscription Form Validation-->
                <script type="text/javascript">
                  $('#mailchimp-subscription-form1').ajaxChimp({
                      callback: mailChimpCallBack,
                      url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                  });

                  function mailChimpCallBack(resp) {
                      // Hide any previous response text
                      var $mailchimpform = $('#mailchimp-subscription-form1'),
                          $response = '';
                      $mailchimpform.children(".alert").remove();
                      if (resp.result === 'success') {
                          $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                      } else if (resp.result === 'error') {
                          $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                      }
                      $mailchimpform.prepend($response);
                  }
                </script>

              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Photos from Flickr</h5>
              <div id="flickr-feed" class="clearfix">
                <!-- Flickr Link -->
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
                </script>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Lists</h5>
              <ul class="list list-divider list-border">
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Vehicle Accidents</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Family Law</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Personal Injury</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Personal Injury</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Case Investigation</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Business Taxation</a></li>
              </ul>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Pages</h5>
              <ul class="list list-border">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Attorneys</a></li>
                <li><a href="#">Practice Arears</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Twitter Feed</h5>
              <div class="twitter-feed list-border clearfix" data-username="Envato" data-count="3"></div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Twitter Feed carousel</h5>
              <div class="twitter-feed-carousel clearfix" data-username="Envato" data-count="3"></div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Quick Contact</h5>
              <form id="quick_contact_form1" name="footer_quick_contact_form" class="quick-contact-form" action="includes/quickcontact.php" method="post">
                <div class="form-group">
                  <input id="form_email" name="form_email" class="form-control" type="text" required="" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <textarea id="form_message" name="form_message" class="form-control" required="" placeholder="Enter Message" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                  <button type="submit" class="btn btn-dark btn-theme-colored btn-xs btn-flat mt-0" data-loading-text="Please wait...">Send Message</button>
                </div>
              </form>

              <!-- Quick Contact Form Validation-->
              <script type="text/javascript">
                $("#quick_contact_form1").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
              </script>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Social Icons</h5>
              <ul class="styled-icons icon-gray icon-bordered clearfix">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-android"></i></a></li>
                <li><a href="#"><i class="fa fa-wikipedia-w"></i></a></li>
                <li><a href="#"><i class="fa fa-stumbleupon"></i></a></li>
                <li><a href="#"><i class="fa fa-foursquare"></i></a></li>
                <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                <li><a href="#"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="#"><i class="fa fa-cc"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">Company Info</h5>
              <img alt="" src="images/logo-square-black.png">
              <p class="font-12 mt-20 mb-20">ThemeMascot is a library of corporate and business templates with predefined web elements which helps you to build your own site. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <a class="btn btn-dark btn-theme-colored btn-xs mt-0" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-black-222">
      <div class="container pt-0">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="heading-line-bottom text-center mb-60">
              <h3 class="text-white">In Dark Layout</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Search box</h5>
              <div class="search-form">
                <form>
                  <div class="input-group">
                    <input type="text" placeholder="Click to Search" class="form-control search-input">
                    <span class="input-group-btn">
                    <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Categories</h5>
              <div class="categories">
                <ul class="list angle-double-right list-border">
                  <li><a href="#">Creative<span>(19)</span></a></li>
                  <li><a href="#">Portfolio<span>(21)</span></a></li>
                  <li><a href="#">Fitness<span>(15)</span></a></li>
                  <li><a href="#">Gym<span>(35)</span></a></li>
                  <li><a href="#">Personal<span>(16)</span></a></li>
                </ul>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Simple Text</h5>
              <div class="text-widget">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt distinctio soluta corporis, omnis odit libero ad laborum illum, nam, accusamus nihil cumque magnam voluptatibus eos odio ratione mollitia.</p>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Latest News</h5>
              <div class="latest-posts">
                <article class="post media-post clearfix pb-0 mb-10">
                  <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>
                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                  </div>
                </article>
                <article class="post media-post clearfix pb-0 mb-10">
                  <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0 mb-5"><a href="#">Industrial Coatings</a></h5>
                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                  </div>
                </article>
                <article class="post media-post clearfix pb-0 mb-10">
                  <a class="post-thumb" href="#"><img src="https://placehold.it/80x55" alt=""></a>
                  <div class="post-right">
                    <h5 class="post-title mt-0 mb-5"><a href="#">Storefront Installations</a></h5>
                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                  </div>
                </article>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Product Items</h5>
              <div class="product-list">
                <div class="media"> 
                  <a class="media-left pull-left flip" href="#">
                    <img width="60" src="http://placehold.it/70x80" alt="">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading product-title mb-0"><a href="#">Blue Solid Casual Shirt</a></h5>
                    <div class="star-rating mt-5 mb-5 ml-0" title="Rated 4.50 out of 5">
                      <span style="width: 90%;">4.50</span>
                    </div>
                    <span class="price">$37.00</span>
                  </div>
                </div>
                <div class="media"> 
                  <a class="media-left pull-left flip" href="#">
                    <img width="60" src="http://placehold.it/70x80" alt="">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading product-title mb-0"><a href="#">Blue Solid Casual Shirt</a></h5>
                    <div class="star-rating mt-5 mb-5 ml-0" title="Rated 4.50 out of 5">
                      <span style="width: 60%;">4.50</span>
                    </div>
                    <span class="price">$37.00</span>
                  </div>
                </div>
                <div class="media"> 
                  <a class="media-left pull-left flip" href="#">
                    <img width="60" src="http://placehold.it/70x80" alt="">
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading product-title mb-0"><a href="#">Blue Solid Casual Shirt</a></h5>
                    <div class="star-rating mt-5 mb-5 ml-0" title="Rated 4.50 out of 5">
                      <span style="width: 75%;">4.50</span>
                    </div>
                    <span class="price">$37.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Tab Widget</h5>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-dark1" aria-expanded="true">Quality</a></li>
                <li class=""><a data-toggle="tab" href="#tab-dark2" aria-expanded="false">Strategies</a></li>
                <li class=""><a data-toggle="tab" href="#tab-dark3" aria-expanded="false">Counsel</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab-dark1" class="tab-pane fade active in">
                  <img alt="" src="http://placehold.it/60x60" class="img-circle pull-left m-0 mr-10">
                  <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                </div>
                <div id="tab-dark2" class="tab-pane fade">
                  <img alt="" src="http://placehold.it/60x60" class="img-circle pull-left m-0 mr-10">
                  <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                </div>
                <div id="tab-dark3" class="tab-pane fade">
                  <img alt="" src="http://placehold.it/60x60" class="img-circle pull-left m-0 mr-10">
                  <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                </div>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Archive</h5>
              <div class="categories">
                <ul class="list angle-right list-border">
                  <li><a href="#">January 2015<span>(19)</span></a></li>
                  <li><a href="#">March 2015<span>(21)</span></a></li>
                  <li><a href="#">April 2015<span>(15)</span></a></li>
                  <li><a href="#">June 2015<span>(35)</span></a></li>
                  <li><a href="#">July 2015<span>(16)</span></a></li>
                </ul>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Tags</h5>
              <div class="tags">
                <a href="#">travel</a>
                <a href="#">blog</a>
                <a href="#">lifestyle</a>
                <a href="#">feature</a>
                <a href="#">mountain</a>
                <a href="#">design</a>
                <a href="#">restaurant</a>
                <a href="#">journey</a>
                <a href="#">classic</a>
                <a href="#">sunset</a>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Opening Hours</h5>
              <div class="opening-hours">
                <ul class="list list-border">
                  <li class="clearfix"> <span> Friday - Saturday :  </span>
                    <div class="value pull-right"> 10.00 am - 6.00 pm </div>
                  </li>
                  <li class="clearfix"> <span> Monday - Thusday :</span>
                    <div class="value pull-right"> 8.00 am - 9.00 pm </div>
                  </li>
                  <li class="clearfix"> <span> Sunday : </span>
                    <div class="value pull-right"> Colosed </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget dark no-border m-0">
              <h5 class="widget-title line-bottom">Contact Widget</h5>
              <ul class="list-inline mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored"></i> <a class="text-gray" href="#">123-456-789</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored"></i> <a class="text-gray" href="#">contact@yourdomain.com</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Image gallery</h5>
              <div class="owl-carousel-1col" data-dots="true">
                <div class="item"><img src="https://placehold.it/365x230" alt=""></div>
                <div class="item"><img src="https://placehold.it/365x230" alt=""></div>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Image gallery with text</h5>
              <div class="owl-carousel-1col" data-dots="true">
                <div class="item">
                  <img src="https://placehold.it/365x230" alt="">
                  <h4 class="title">This is a Demo Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                </div>
                <div class="item">
                  <img src="https://placehold.it/365x230" alt="">
                  <h4 class="title">This is a Demo Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                </div>
                <div class="item">
                  <img src="https://placehold.it/365x230" alt="">
                  <h4 class="title">This is a Demo Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                </div>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Video gallery</h5>
              <div class="owl-carousel-1col" data-dots="true">
                <div class="item">
                  <iframe src="//player.vimeo.com/video/114959015?title=0&amp;byline=0&amp;portrait=0" width="360" height="205" allowfullscreen>
                  </iframe>
                </div>
                <div class="item">
                  <iframe width="600" height="340"
                  src="http://www.youtube.com/embed/oIDqz2BrVec?autoplay=0" allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Youtube Video</h5>
              <iframe width="600" height="340"
              src="http://www.youtube.com/embed/oIDqz2BrVec?autoplay=0" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Vimeo Video</h5>
              <iframe src="//player.vimeo.com/video/114959015?title=0&amp;byline=0&amp;portrait=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Instagram Feed</h5>
              <div id="instafeed3" class="instagram-feed clearfix" data-userid="3450544574" data-accesstoken="3450544574.1677ed0.7d0725a565914415b40a4953c17bcdc9" data-limit="6" data-resolution="low_resolution"></div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">instagram Feed Carousel</h5>
              <div id="instafeed4" class="instagram-feed-carousel clearfix" data-userid="3450544574" data-accesstoken="3450544574.1677ed0.7d0725a565914415b40a4953c17bcdc9" data-limit="6" data-resolution="low_resolution"></div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Testimonials</h5>
              <div class="owl-carousel-1col testimonial-carousel" data-dots="true">
                <div class="item">
                  <img class="pull-right flip" src="https://placehold.it/75x75" alt="">
                  <blockquote class="pt-0 pb-10 pl-10 mt-0">
                    <p class="font-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
                <div class="item">
                  <img class="pull-right flip" src="https://placehold.it/75x75" alt="">
                  <blockquote class="pt-0 pb-10 pl-10 mt-0">
                    <p class="font-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Subscribe</h5>
              <div class="widget-subscribe">
                <h5 class="subscribe-title">Unlimited Support &amp; Easily Customizable</h5>
                <p class="subscribe-sub-title">Subscribe to Connect with us</p>
                <form id="mailchimp-subscription-form2" class="newsletter-form mt-20">
                  <div class="input-group">
                    <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg" data-height="45px" id="mce-EMAIL" style="height: 45px;">
                    <span class="input-group-btn">
                      <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0" type="submit">Subscribe</button>
                    </span>
                  </div>
                </form>

                <!-- Mailchimp Subscription Form Validation-->
                <script type="text/javascript">
                  $('#mailchimp-subscription-form2').ajaxChimp({
                      callback: mailChimpCallBack,
                      url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
                  });

                  function mailChimpCallBack(resp) {
                      // Hide any previous response text
                      var $mailchimpform = $('#mailchimp-subscription-form2'),
                          $response = '';
                      $mailchimpform.children(".alert").remove();
                      if (resp.result === 'success') {
                          $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                      } else if (resp.result === 'error') {
                          $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                      }
                      $mailchimpform.prepend($response);
                  }
                </script>

              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Photos from Flickr</h5>
              <div id="flickr-feed" class="clearfix">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
                </script>
              </div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Lists</h5>
              <ul class="list list-divider list-border">
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Vehicle Accidents</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Family Law</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Personal Injury</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Personal Injury</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Case Investigation</a></li>
                <li><a href="#"><i class="fa fa-check-square-o mr-10 text-black-light"></i> Business Taxation</a></li>
              </ul>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Pages</h5>
              <ul class="list list-border">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Attorneys</a></li>
                <li><a href="#">Practice Arears</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Twitter Feed</h5>
              <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Twitter Feed carousel</h5>
              <div class="twitter-feed-carousel dot-white clearfix" data-username="Envato"></div>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Quick Contact</h5>
              <form id="quick_contact_form2" name="footer_quick_contact_form" class="quick-contact-form" action="includes/quickcontact.php" method="post">
                <div class="form-group">
                  <input id="form_email" name="form_email" class="form-control" type="text" required="" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <textarea id="form_message" name="form_message" class="form-control" required="" placeholder="Enter Message" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                  <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" data-loading-text="Please wait...">Send Message</button>
                </div>
              </form>

              <!-- Quick Contact Form Validation-->
              <script type="text/javascript">
                $("#quick_contact_form2").validate({
                  submitHandler: function(form) {
                    var form_btn = $(form).find('button[type="submit"]');
                    var form_result_div = '#form-result';
                    $(form_result_div).remove();
                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                    var form_btn_old_msg = form_btn.html();
                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                    $(form).ajaxSubmit({
                      dataType:  'json',
                      success: function(data) {
                        if( data.status == 'true' ) {
                          $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                      }
                    });
                  }
                });
              </script>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Social Icons</h5>
              <ul class="styled-icons icon-dark icon-circled icon-theme-colored clearfix">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-android"></i></a></li>
                <li><a href="#"><i class="fa fa-wikipedia-w"></i></a></li>
                <li><a href="#"><i class="fa fa-stumbleupon"></i></a></li>
                <li><a href="#"><i class="fa fa-foursquare"></i></a></li>
                <li><a href="#"><i class="fa fa-spotify"></i></a></li>
                <li><a href="#"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="#"><i class="fa fa-cc"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
            <div class="widget dark">
              <h5 class="widget-title line-bottom">Company Info</h5>
              <img alt="" src="images/logo-square.png">
              <p class="font-12 mt-20 mb-20">ThemeMascot is a library of corporate and business templates with predefined web elements which helps you to build your own site. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <a class="btn btn-default btn-transparent btn-xs mt-0" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-lightest">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
  
