  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg6.jpg">
      <div class="container pt-90 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Instagram</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-line-bottom">
              <h4 class="heading-title">Instagram Feed - List</h4>
            </div>
          </div>
          <div class="col-md-12 pb-20">
            <div id="instafeed1" class="instagram-feed" data-userid="3450544574" data-accesstoken="3450544574.1677ed0.7d0725a565914415b40a4953c17bcdc9" data-limit="10" data-resolution="low_resolution"></div>
          </div>
        </div>
        

      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-line-bottom">
              <h4 class="heading-title">Instagram Feed - Carousel</h4>
            </div>
          </div>
          <div class="col-md-12 pb-20">
            <div id="instafeed2" class="instagram-feed-carousel" data-userid="3450544574" data-accesstoken="3450544574.1677ed0.7d0725a565914415b40a4953c17bcdc9" data-limit="12" data-resolution="low_resolution"></div>
          </div>
        </div>
        


      </div>
    </section>
  </div>
  <!-- end main-content -->
