  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_diretoria/parallax.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Diretoria</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Section: volunteers -->
    <section id="volunteers">
      <div class="container pb-40">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6">
              <h5 class="font-weight-300 m-0">UMADES</h5>
              <h2 class="mt-0 text-uppercase font-28">Membros da <span class="text-theme-colored font-weight-400">Diretoria</span> </h2>
              <div class="icon">
                <i class="fa fa-hospital-o"></i>
              </div>
            </div>
            <div class="col-md-6"> <p>“A religião pura e imaculada para com Deus, o Pai, é esta: visitar os órfãos e as viúvas nas suas tribulações e guardar-se da corrupção do mundo” (Tiago 1:27)</p></div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="owl-carousel-4col">
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_diretoria/everton_elias.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Everton Elias</h3>
                      <h5 class="text-white">Diretor</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="styled-icons icon-hover-theme-colored icon-circled pt-5">
                        <li><a href="tel:+5527997361314"><i class="fa fa-phone"></i></a></li>
                        <li><a href="https://www.facebook.com/everton.elias.77" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="mailto:contato@umades.com.br"><i class="fa fa-envelope"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_diretoria/magno_gigante.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Magno Gigante</h3>
                      <h5 class="text-white">Vice-Presidente</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="styled-icons icon-hover-theme-colored icon-circled pt-5">
                        <li><a href="tel:+5527999706638"><i class="fa fa-phone"></i></a></li>
                        <li><a href="https://www.facebook.com/magno.gigante" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="mailto:contato@umades.com.br"><i class="fa fa-envelope"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_diretoria/tiago_vidal.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Tiago Vidal</h3>
                      <h5 class="text-white">Vice-Presidente</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="styled-icons icon-hover-theme-colored icon-circled pt-5">
                        <li><a href="tel:+5527988555677"><i class="fa fa-phone"></i></a></li>
                        <li><a href="https://www.facebook.com/tiago.vidal.5" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="mailto:contato@umades.com.br"><i class="fa fa-envelope"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
      
  </div>
  <!-- end main-content -->
