
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/_midia/_instagram/parallax.jpg">
      <div class="container pt-90 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Instagram</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="heading-line-bottom">
              <h4 class="heading-title">Instagram Umades</h4>
            </div>
          </div>
          <div class="col-md-12 pb-20">
            <div id="instafeed1" class="instagram-feed" data-userid="100001809765929" data-accesstoken="205000946197077" data-limit="10" data-resolution="low_resolution"></div>
          </div>
        </div>
        <!-- Nav tabs -->
          <!-- LightWidget WIDGET 
          <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/52fec31a8bcce77b4c8dcf9f68517714bedc81e8.html" id="lightwidget_52fec31a8b" name="lightwidget_52fec31a8b"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>-->
        </div>
    </section>