  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_quem_somos/parallax.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Quem Somos</h3>
            </div>
          </div>
        </div>
      </div>
    </section>    

    <section >
      <div class="container">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3 class="line-bottom">Quem Somos</h3>
                <p>
                    Somos a UMADES, União de Mocidades das Assembleias de Deus no Estado do Espirito Santo. Fundada com o proposito de trabalhar a unificação e fortalecimento espiritual da juventude assembleiana em todo o estado do Espirito Santo.
                </p>
                <p>
                    A UMADES é oficialmente um departamento da CADEESO – Convenção das assembleias de Deus no estado do espirito santo e outros - O que faz dela um órgão oficial das assembleias de Deus para promover o crescimento da igreja como um todo na preparação de líderes de Mocidade, integrar os jovens, realizar seminários, promover Escolas Bíblicas, pré-congressos regionais a fim de integrar e preparar os jovens de todas as congregações para o Congresso anual. 
                </p>
                <p>
                    A UMADES teve como primeiro presidente o Pastor “JAIR JAIRO CASTELO” que na época congregava na assembleia de Deus em Colatina presidida pelo seu pai pastor Oscar Castelo, e foi na cidade de Colatina que ocorreu o primeiro congresso estadual com grande apelo popular. Nos cinco anos seguintes a UMADES foi presidida pelo pastor ISAAC SAMORA que realizou cinco congressos de igual grandeza.
                </p>
          </div>
        </div>
      </div>
    </section>
      
    <!-- Section: Divider call -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="images/_quem_somos/parallax_meio.jpg" style="height:300px;">
       <div class="container pt-0 pb-0">
            <div class="row">
              <div class="call-to-action">
                <div class="col-md-9"></div>
              </div>
            </div>
        </div>
    </section>
      
    <section >
      <div class="container">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3 class="line-bottom">Nossa Igreja</h3>
              <p>
                    O início da Assembléia de Deus no Espírito Santo protagoniza um dos capítulos mais emocionantes da história do evangelho em nosso país. Em 1922 os primeiros crentes pentecostais, Francisco Galdino Sobrinho e sua esposa, chegaram à Vitória. Dois anos depois, chegava em solo capixaba, o missionário escandinavo Daniel Berg, que veio com o objetivo de fundar uma igreja evangélica em terras capixaba. O mesmo dirigiu os primeiros cultos na Rua Santo Antônio.  
              </p>
              <p>
                    Daniel Berg fazia um trabalho de evangelização, visitando as famílias durante o dia e convidando-as para o culto à noite. Depois de alguns meses, mesmo sem informações oficiais pelo seu trabalho, sabe-se que o missionário deixou uma base evangelística estabelecida. Em 1925, José Vicente Ferreira veio de Pernambuco para Vitória, a pedido do missionário. Ao chegar à Vitória só encontrou o irmão Galdino como crente pentecostal, os demais eram batistas. Foi então que o irmão José Vicente Ferreira escreveu a Daniel Berg, solicitando que lhes enviassem um pastor para por em ordem o trabalho. Atendendo ao pedido da Igreja, foi enviado à cidade de Vitória, no dia 09 de maio de 1930, o pastor João Pedro da Silva, data esta onde se reuniram mais de trinta (30) pessoas, entre crentes e simpatizantes do evangelho. Aos 34 anos de idade, o Pastor João Pedro inicia um trabalho em solo capixaba munido de fé e coragem, trabalho este iniciado do fruto da evangelização.
              </p>
              <p>
                    Estabeleceram-se cultos, no centro da cidade, em Santo Antônio, Vila Rubim, Praça Costa Pereira e Aribiri, em Vila Velha. Celebrou-se então, no dia 08 de junho de 1930, o primeiro batismo em águas e esta data foi estabelecida na obra “Historia das Assembléias de Deus no Brasil”, compilada por Emilio Conde, como início da obra pentecostal e data provável de fundação, sob a liderança de João Pedro da Silva.  
              </p>
              <p>
                    A Assembléia de Deus no Espírito Santo iniciou-se com os seguintes irmãos; Francisco Galdino Sobrinho, Leopoldina da Costa Sobrinho, João Toscano de Brito, Maria de Oliveira, Manoel Tibúrcio, Jose Martins, Antônio Gabriel, Francisco Faustino, Josefa Faustino, Maria Raimundo, Nair Raimundo, Joaquim Galdino, Pulcina da Conceição, Ibiapino Luiz e esposa, Candido Dias da Hora, Maria dos Anjos da Hora, Madalena dos Anjos Mota, Jose Mota, Maria Hora, Vitor Hora, Abraão e esposa, Adalberto Pacote, Aquino Deodoro, Jose Vicente Ferreira, Manoel Cocino, Fabiano e esposa, Jose Pedro, Antônio da Barra e esposa, Pedro da Silva e esposa, Francisco Santana e esposa, Maria Santana, Ormandina Silva e outros. 
              </p>
              <p>
                    Com a expansão do trabalho, organizou-se nos bairros  de Santa Lucia, Jucutuquara, Pedreiras, Ataíde, Areal e finalmente a sede, no bairro Aribiri, em Vila Velha/ES.
              </p>
              <p>
                    IMPORTANTE: A Igreja em Aribiri, era a sede de todo o ministério das Assembléias de Deus do Estado do Espírito Santo, e todas as igrejas que eram fundadas filiavam-se à AD do Aribiri, que foi inaugurada na Rua São Luiz, nº 211.  
              </p>
          </div>
        </div>
      </div>
    </section>
    
    

    <!-- Section: Divider call -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="images/_quem_somos/parallax_diretoria.jpg">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="call-to-action">
            <div class="col-md-9">
              <h2 class="text-white font-opensans font-30 mt-0 mb-5">Quer saber mais sobre a UMADES?</h2>
              <h3 class="text-white font-opensans font-18 mt-0">Conheça nossa Diretoria</h3>
            </div>
            <div class="col-md-3 mt-30"> 
              <a href="?p=diretoria" class="btn btn-default btn-circled btn-lg">Clique aqui</a> 
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <!-- end main-content -->
  