  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_talentos/parallax.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Jovens Talentos</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- Section: volunteers -->
    <section id="volunteers">
      <div class="container pb-40">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6">
              <h5 class="font-weight-300 m-0">UMADES</h5>
              <h2 class="mt-0 text-uppercase font-28">Jovens<span class="text-theme-colored font-weight-400"> Talentos</span> </h2>
              <div class="icon">
                <i class="fa fa-hospital-o"></i>
              </div>
            </div>
            <div class="col-md-6"> <p>“Cada um exerça o dom que recebeu para servir os outros, administrando fielmente a graça de Deus em suas múltiplas formas.” (1 Pedro 4:10)</p></div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="owl-carousel-4col">
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_talentos/homem1.png" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Jasson Paulo</h3>
                      <h5 class="text-white">Pregador</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="pt-5">
                        <li>Assembléia de Deus de São Torquato</li>
                        <li>Pastor Arnaldo Candeias </li>
                        <li><a href="tel:+5527999385443">(27) 999 385 443</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_talentos/mulher.png" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Thayna Santos</h3>
                      <h5 class="text-white">Cantora</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="pt-5">
                        <li>Assembléia de Deus de São Torquato</li>
                        <li>Pastor Arnaldo Candeias </li>
                        <li><a href="tel:+5527996466283">(27) 996 466 283</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_talentos/homens.png" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Elke e Elvis</h3>
                      <h5 class="text-white">Cantores</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="pt-5">
                        <li>Assembléia de Deus de Vila Garrido </li>
                        <li>Pastor Eleude Freitas</li>
                        <li><a href="tel:+5527999329941">(27) 999 329 941</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="team-member">
                  <div class="volunteer-thumb"> <img src="images/_talentos/homem2.png" alt="" class="img-fullwidth img-responsive"> </div>
                  <div class="member-info mb-20">
                    <div class="member-biography p-20">
                      <h3 class="text-white mt-0 mb-10">Iuri Vitor</h3>
                      <h5 class="text-white">Pregador</h5>
                    </div>
                    <div class="social-network bg-white text-center">
                      <ul class="pt-5">
                        <li>Assembléia de Deus de São Torquato</li>
                        <li>Pastor Arnaldo Candeias </li>
                        <li><a href="tel:+5527997574177">(27) 997 574 177</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
      
  </div>
  <!-- end main-content -->
