  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/_midia/_youtube/parallax.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Youtube
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <section class="bg-black-222">
      <div class="container pt-0">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="heading-line-bottom text-center mb-60">
              <h3 class="text-white">Canal UMADES</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              
            <div class="widget dark col-md-8">
                <h5 class="widget-title line-bottom">  
                    APRESENTAÇÃO DO CANAL                
                </h5>
                <iframe width="360" height="205" src="http://www.youtube.com/embed/Ibtm2PCP3T8?autoplay=1" allowfullscreen>
                </iframe>
            </div>
            
            <div class="widget dark col-md-4">
              <h5 class="widget-title line-bottom">DEBATE JOVEM UMADES - JOVEM CRISTÃO PODE OUVIR MUSICA SECULAR?</h5>
              <iframe src="http://www.youtube.com/embed/kbYwD4iK2wM?autoplay=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark col-md-4">
              <h5 class="widget-title line-bottom">UMADES - VIDEO #05</h5>
              <iframe src="http://www.youtube.com/embed/F3NZRyA8vO4?autoplay=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark col-md-4">
              <h5 class="widget-title line-bottom">UMADES - VIDEO #04</h5>
              <iframe src="http://www.youtube.com/embed/kbYwD4iK2wM?autoplay=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark col-md-4">
              <h5 class="widget-title line-bottom">UMADES - VIDEO #03</h5>
              <iframe src="http://www.youtube.com/embed/tSuY-GfzR9w?autoplay=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark col-md-4">
              <h5 class="widget-title line-bottom">UMADES - VIDEO #02</h5>
              <iframe src="http://www.youtube.com/embed/XKsjQTm2JOU?autoplay=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
            <div class="widget dark col-md-4">
              <h5 class="widget-title line-bottom">UMADES - VIDEO #01</h5>
              <iframe src="http://www.youtube.com/embed/hFwXkqm97Aw?autoplay=0" width="360" height="205" allowfullscreen>
              </iframe>
            </div>
              
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
